# OneSignal Push Notification Settings (Alternative to Firebase Cloud Messaging)
# Register and get these keys from https://onesignal.com
VITE_ONESIGNAL_APP_ID="6467a5f9-902f-47c9-a642-808a6d29a861"
VITE_ONESIGNAL_REST_API_KEY="sfejujyoze4qmplr5f74vjqu5"
